<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="atividade7.css">
    <title>Document</title>
</head>
<body>
    

    <div *ngFor="let disciplina of disciplinas; let i = index; let par = even; let impar = odd; let primeiro = first; let ultimo = last" [ngClass]="{
            'par': par,
            'impar': impar,
            'primeiro': primeiro,
            'ultimo': ultimo
        }">
        {{ i + 1}} {{disciplina}}
        <span *ngIf="primeiro"> - Primeira disciplina</span>
        <span *ngIf="ultimo"> - Última disciplina</span>

    </div>




</body>
</html>